.home-pic-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    width: 44%;
    height: auto;
    margin: 3%;
    /* text-emphasis: emphasis; */
    overflow: hidden;
}

.home-pic-img-box {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.home-pic-img-box img {
    width: 98%;
    height: auto;
    border-radius: 10px;
}


.home-pic-img-box>div {
    width: 98%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-box img {
    animation: rotatepic 0.8s linear infinite;
}

@keyframes rotatepic {
    0% {
        transform-origin: center;
        opacity: 0.5;
        transform: rotate(0deg);
    }

    100% {
        transform-origin: center;
        opacity: 1;
        transform: rotate(360deg);
    }
}

.home-pic-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-pic-title {
    font-size: 18px;
    color: black;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.home-pic-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.home-pic-say {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
}

.home-pic-download {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.home-pic-say img {
    display: inline;
    width: 13px;
    height: 13px;
}