.home-pic-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    width: 44%;
    height: auto;
    margin: 3%;
    /* text-emphasis: emphasis; */
    overflow: hidden;
}

.home-pic-img-box {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.home-pic-img-box img {
    width: 98%;
    height: auto;
    border-radius: 10px;
}

.home-pic-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-pic-title {
    font-size: 18px;
    color: black;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.home-pic-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.home-pic-say {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
}

.home-pic-download {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.home-pic-say img {
    display: inline;
    width: 13px;
    height: 13px;
}