.main-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
}

.router-view {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 49px;
}

.main-tab-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 0.5px solid #efefef;
    background-color: #ffffff;
}

.tab-bar-item {
    flex: 1;
}

.tab-item {
    height: 44px;
    text-align: center;
}

.tab-item img {
    width: auto;
    height: 70%;
    margin-left: 30%;
    margin-top: 10%;
}

/* 添加点击动画 */
.tabbar-item-small:hover {
    transform-origin: top right;
    animation: circle 0.5s linear;
}
/* 弹动动画 */
@keyframes circle {
    0% {
        transform: rotate(0);
    }

    12.5% {
        transform: rotate(-15deg);
    }

    25% {
        transform: rotate(0deg);
    }
    37.5%{
        transform: rotate(12deg);
    }
    50% {
        transform: rotate(0deg);
    }

    62.5% {
        transform: rotate(-8deg);
    }

    75% {
        transform: rotate(0deg);
    }

    87.5% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}